#meuuHeader {
    border: solid 1px rgb(122, 7, 7);
    text-align: center;
    background-color: grey;
    color: white;
}

#botoes {
    top: 5%;
    width: 40%;
    left: 30%;
    padding: 10px;
    position: relative;
    border: solid 1px rgb(122, 7, 7);
    border-radius: 5px;
    text-align: center;
    background-color: #212529;
}

.btn-danger {
    margin-top: 5px!important;
}

body {
    background-image: url(../Imagens/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#alertas {
    position: absolute;
    width: 90%;
    height: 30%;
    left: 5%;
    top: 30%;
    border: solid 3px #000;
}

#alertasDeBaixo {
    position: absolute;
    width: 90%;
    height: 30%;
    left: 5%;
    top: 65%;
    border: solid 3px #000;
}

#alertaPersonalizado {
    background-color: #212529;
    background-image: url(../Imagens/alertIcon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    position: absolute;
    width: 20%;
    height: 80%;
    left: 15%;
    top: 10%;
    display: none;
    animation: fadeInDown; 
    animation-duration: 2s;
    border-radius: 5px;
    text-align: center;
    font-size:1.25rem;
    text-decoration:none;
    white-space:nowrap;
}

#alertaPulsatil {
    background-color: #212529;
    background-image: url(../Imagens/alertIcon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    position: absolute;
    width: 20%;
    height: 80%;
    left: 40%;
    top:10%;
    display: none;
    animation: lightSpeedInRight;
    animation-duration: 1s;
    border-radius: 5px;
    text-align: center;
    font-size:1.25rem;
    text-decoration:none;
    white-space:nowrap;
}

#alertaRoll {
    background-color: #212529;
    background-image: url(../Imagens/alertIcon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    position: absolute;
    width: 20%;
    height: 80%;
    left: 65%;
    top: 10%;
    display: none;
    animation: rollIn;
    animation-duration: 1s;
    border-radius: 5px;
    text-align: center;
    font-size:1.25rem;
    text-decoration:none;
    white-space:nowrap;
}
